<div id="header" class="row">
  <div class="col s12">
    <div class="row limiter">
      <div class="col s12 m4 offset-m2 l3 offset-l3 center-block">
        <img class="album-mini full-w z-depth-2" src="https://s3.amazonaws.com/myfangate.com/ptv2016/albumcover.jpg">
      </div>
      <div class="col s12 m4 l3 center-align valign-wrapper cta">
        <div class="valign">
          <h2 class="ptv-red-text header-text">DOWNLOAD “CIRCLES”</h2>
          <h5 class="ptv-red-text header-text">TAKEN FROM ‘MISADVENTURES’</h5>
          <h5 class="ptv-red-text header-text">OUT 5.13.16</h5>
        </div>
      </div>
    </div>
  </div>
</div>
