<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "PTV Download Circles" %></title>
<meta name="description" content="Download Circles taken from 'Misadventures' out 5.13.16" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="PTV Download Circles">
<meta itemprop="description" content="Download Circles taken from 'Misadventures' out 5.13.16">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/ptv2016/albumcover.jpg">

